{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% translate "Менеджер задач Hexlet" %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">

    {% include 'nav.html' %}

    <div class="container wrapper flex-grow-1">
        <div class="alert-{{ message.tag }}" role="alert">
            {% bootstrap_messages %}
        </div>

        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between py-4 border-top">
            <div class="d-flex align-items-center">
                <div>
                    <a href="https://python-project-52-j3e4.onrender.com" target="_blank">{% translate "Demo version of the application" %}</a>
                </div>
            </div>
            <ul class="nav justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a href="/en/" role="button">EN</a></li>
                <li class="ms-3"><a href="/ru/" role="button">RU</a></li>
            </ul>
        </footer>
    </div>
    {% endblock %}

</body>
</html>